{% extends "base.html" %}

{% block title %}
    <div id="title2" class="main-page__card__title" style="width:16rem;"> Configure Your Testbed </div>
    <div id="title2" class="no-display" style="width:16rem;"> Testbed YAML Preview </div>
{% endblock %}

{% block content %}
<form multi-step-form method="POST">
    {% csrf_token %}
    <div data-form-step="0" class="main-page__card__form" style="grid-template-rows: 0.1fr auto 0.1fr 2.98fr; grid-template-areas: 'title title' 'cred1 cred2' 'checkbox checkbox' 'buttons buttons';">
        <div class="main-page__card__form__title" style="grid-area:title;">Credentials</div>
        <div id="credentials1" style="grid-area:cred1;">
            <div class="form__section-title" id="cred1_label" style="visibility:hidden;"> Credentials 1 </div>
            <div class="form__group">
                {{form.username}}
                <label class="form__input__label" for="username"> Username </label>
            </div>
            <div class="form__group">
                {{form.password}}
                <label class="form__input__label" for="password"> Password </label>
            </div>
            <div class="form__group">
                {{form.enablepassword}}
                <label class="form__input__label" for="enablepassword"> Enable Password </label>
            </div>
        </div>

        <div class="hidden" id="credentials2" style= "grid-area:cred2;">
            <div class="form__section-title"> Credentials 2 </div>
            <div class="form__group">
                {{form.username2}}
                <label class="form__input__label" for="username2"> Username </label>
            </div>
            <div class="form__group">
                {{form.password2}}
                <label class="form__input__label" for="password2"> Password </label>
            </div>
            <div class="form__group">
                {{form.enablepassword2}}
                <label class="form__input__label" for="enablepassword2"> Enable Password </label>
            </div>
        </div>

        <div id="cred2checkbox" style="grid-area:checkbox;">
            <div class="form__group" style="height:3rem;">
                <input type="checkbox" id="cred2checkbox" name="cred2checkbox" style="margin-left:3rem;">
                <label for="cred2checkbox" style="font-size:.9rem; color:#545454">Use separate credentials</label>
            </div>   
        </div>

        <div id="buttons" style="grid-area: buttons">
            <button data-nextbtn class="button" type="button" style="position:absolute; bottom:0; right:0;"> Next </button>
        </div>
    </div>

    <div data-form-step="1" class="main-page__card__form" style="grid-template-rows: 0.1fr auto 1fr; grid-template-areas: 'title title' 'switch1 switch2' 'buttons buttons';">
        <div class="main-page__card__form__title" style="grid-area:title; margin-bottom:1rem;"> Devices </div>
        <div id="switch1" style="grid-area:switch1;">
            <div class="form__section-title"> Switch 1 </div>
            <div class="form__group">
                {{form.hostname1}}
                <label class="form__input__label" for="hostname1"> Hostname </label>
            </div>
            <div class="form__group">
                {{form.protocol1}}
                <label class="form__choice__label" for="protocol1"> Protocol </label>
            </div>    
            <div class="form__group">
                {{form.ipaddress1}}
                <label class="form__input__label" for="ipaddress1"> IP Address </label>
            </div>
            <div class="form__group">
                {{form.port1}}
                <label class="form__input__label" for="port1"> Port Number </label>
            </div>
            <div class="form__group">
                {{form.number1}}
                <label class="form__choice__label" for="number1"> Switch Number </label>
            </div>
            <div class="form__group">
                {{form.priority1}}
                <label class="form__choice__label" for="priority1"> Switch Priority </label>
            </div>
        </div>

        <div id="switch2" style= "grid-area:switch2;">
            <div class="form__section-title"> Switch 2 </div>
            <div class="form__group">
                {{form.hostname2}}
                <label class="form__input__label" for="hostname2"> Hostname </label>
            </div>
            <div class="form__group">
                {{form.protocol2}}
                <label class="form__choice__label" for="protocol2"> Protocol </label>
            </div>  
            <div class="form__group">
                {{form.ipaddress2}}
                <label class="form__input__label" for="ipaddress2"> IP Address </label>
            </div>
            <div class="form__group">
                {{form.port2}}
                <label class="form__input__label" for="port2"> Port Number </label>
            </div>
            <div class="form__group">
                {{form.number2}}
                <label class="form__choice__label" for="number2"> Switch Number </label>
            </div>
            <div class="form__group">
                {{form.priority2}}
                <label class="form__choice__label" for="priority2"> Switch Priority </label>
            </div>      
        </div>

        <div id="buttons" style="grid-area: buttons">
            <button data-backbtn class="button" type="button" style="position:absolute; bottom:0; left:0;"> Back </button>
            <button data-nextbtn class="button" type="button" style="position:absolute; bottom:0; right:0;"> Next </button>
        </div>
    </div>

    <div data-form-step="2" class="main-page__card__form" style="grid-template-rows: 0.1fr 11fr 0.34fr; grid-template-areas: 'title title' 'links links' 'buttons buttons';">
        <div class="main-page__card__form__title" style="grid-area:title; margin-bottom:1rem;"> Topology </div>
        <div id="links" style="grid-area:links;">
            <div id="formset-list">
                {{formset.management_form}}
                {% for form in formset %}
                    <div class="formset-container">
                        {{form}}
                    </div>
                {% endfor %}
            </div>
            <div id="empty-form" class="no-display">
                <div class="formset-line">
                    <div class="form__group" style="display:inline-block; width:5rem; height:3rem;">
                        {{formset.empty_form.linktype}}
                        <label class="form__choice__label" for="linktype" style="margin:0;"> Link Type </label>
                    </div>
                    <div class="form__group" style="display:inline-block; width:10rem; height:3rem;">
                        {{formset.empty_form.interfacechoice}}
                        <label class="form__choice__label" for="interfacechoice" style="margin:0;"> Interface </label>
                    </div>
                    <div class="form__group" style="display:inline-block; width:3rem; height:3rem;">
                        {{formset.empty_form.interfaceprefix1}}
                    </div>
                    <div class="form__group" style="display:inline-block; width:6rem; height:3rem;">
                        {{formset.empty_form.interface1}}
                        <label class="form__input__label" for="interface1" style="margin:0;"> Switch 1 </label>
                    </div>
                    <div class="form__group" style="display:inline-block; width:3rem; height:3rem;">
                        {{formset.empty_form.interfaceprefix2}}
                    </div>
                    <div class="form__group" style="display:inline-block; width:4.5rem; height:3rem;">
                        {{formset.empty_form.interface2}}
                        <label class="form__input__label" for="interface2" style="margin:0;"> Switch 2 </label>
                    </div>
                    <div class="formset-button" style="margin:0; width:2rem; display:inline-block;">
                        <button name="deletelinkbtn" type="button" id="deletelinkbtn" class="button--circular" style="margin-left:1.5rem; position:relative; bottom:1.7rem;"> - </button>
                    </div>
                </div>
            </div>
            <button name="addlinkbtn" type="button" id="addlinkbtn" class="button--circular" style="margin-left:0.5rem;"> + </button>
            <label for="addlinkbtn" style="font-size:.9rem; font-weight: 200; color:#545454"> Add Link </label>
        </div>

        <div id="buttons" style="grid-area:buttons;">
            <button data-backbtn class="button" type="button" style="position:absolute; bottom:0; left:0;"> Back </button>
            <button data-nextbtn class="button" type="submit" style="position:absolute; bottom:0; right:0;"> Next </button>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    const cred2checkbox = document.querySelector("input[name=cred2checkbox]")
    const cred2 = document.getElementById('credentials2')
    const username2 = document.getElementById('username2')
    const password2 = document.getElementById('password2')
    const enablepassword2 = document.getElementById('enablepassword2')
    const cred1_label = document.getElementById('cred1_label')
    cred2checkbox.addEventListener('change', show_cred2)

    function show_cred2(event) {
        if (this.checked) {
            cred2.setAttribute('class', " ")
            cred1_label.setAttribute('style', " ")
            username2.setAttribute('required', "")
            password2.setAttribute('required', "")
            enablepassword2.setAttribute('required', "")
        }
        else {
            cred2.setAttribute('class', "hidden")
            cred1_label.setAttribute('style', "visibility:hidden;")
            username2.removeAttribute('required')
            password2.removeAttribute('required')
            enablepassword2.removeAttribute('required')
        }
    }
</script>

<script>
    const addlink = document.getElementById('addlinkbtn')
    const deletelink = document.getElementById('deletelinkbtn')
    addlink.addEventListener('click', add_form)

    function add_form(event) {
        const totalforms = document.getElementById('id_form-TOTAL_FORMS')
        const currentforms = document.getElementsByClassName('formset-container')
        const currentformcount = currentforms.length
        const copytarget = document.getElementById('formset-list')
        const emptyformset = document.getElementById('empty-form').cloneNode(true)
        emptyformset.setAttribute('class', 'formset-container')
        emptyformset.setAttribute('id', `form-${currentformcount}`)
        totalforms.setAttribute('value', currentformcount + 1)
        const regex = new RegExp('__prefix__', 'g')
        emptyformset.innerHTML = emptyformset.innerHTML.replace(regex, currentformcount)
        emptyformset.getElementsByTagName("button")[0].id = `form-${currentformcount}-button`
        copytarget.append(emptyformset)
        emptyformset.getElementsByTagName("button")[0].addEventListener('click', function() {
            const lineid = emptyformset.getElementsByTagName("button")[0].id.replace('-button', '')
            const line = document.getElementById(lineid)
            copytarget.removeChild(line)
        })
    }
</script>

<script>
    const multistep_form = document.querySelector("[multi-step-form]")
    const form_steps = [...multistep_form.querySelectorAll("[data-form-step]")]
    let current_step = form_steps.findIndex(step => {
        return step.classList.contains("active")
    })

    if (current_step < 0) {
        current_step = 0
        show_current_page()
    }
    
    multistep_form.addEventListener('click', change_index)
    function change_index(event) {
        let index_increment
        if (event.target.matches("[data-nextbtn]")) {
            index_increment = 1
        }
        else if (event.target.matches("[data-backbtn]")) {
            index_increment = -1
        }

        if (index_increment == null) return

        const form_fields = [...form_steps[current_step].querySelectorAll("input")]
        const valid = form_fields.every(form_field => form_field.reportValidity())
        if (valid){
            current_step += index_increment
            show_current_page()
        }
        else if (!valid && index_increment < 0) {
            current_step += index_increment
            show_current_page()
        }
    }
    
    function show_current_page() {
        form_steps.forEach((step, index) => {
            step.classList.toggle("active", index === current_step)
        })
    }
</script>
{% endblock %}