// cisco sans font w/ different weights
@font-face {
    font-family: "CiscoSans";
    src: url("../font/CiscoSans-Thin.37779ae63dfa39c161fcfeedb8ea522d.woff2");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "CiscoSans";
    src: url("../font/CiscoSans-ExtraLight.ba2d1bfad3a555f583f8c6db0607db4c.woff2");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "CiscoSans";
    src: url("../font/CiscoSansLight.06e20139f6b3921021d560b5bd4222ea.woff2");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "CiscoSans";
    src: url("../font/CiscoSans.7ac8ac97549fefe989dc446f8b9ae79d.woff2");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "CiscoSans";
    src: url("../font/CiscoSans-Bold.73b6a923295858e41e8636d5075bf95f.woff2");
    font-style: normal;
    font-weight: 700;
}

$primary-clr: #00a0d1;
$primary-hover-clr: #007aa3;
$primary-text-clr: #545454;
$secondary-text-clr: #121212;
$bg-clr: #ffffff;
$border-clr: #dedede;

body {
    font-family: "CiscoSans";
}
header {
    background: $bg-clr;
    height: 4rem;
    padding: 0 1rem;
    position: relative;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-areas: "logo branding product blank blank";
}
.header-slots {
    display: flex;
    align-items: center;
    height: 100%;
}
.header-branding {
    display: flex;
    color: $primary-clr;
    padding-left: 1.5rem;
}
.form-container {
    background: $bg-clr;
    min-height: 32rem;
    width: 50rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    border: 1px solid $primary-text-clr;
    margin: auto;
    margin-top: 2.5rem;
    padding: 2rem;
    box-sizing: border-box;
}
.form-container-label {
    background: $bg-clr;
    color: $primary-text-clr;
    font-weight: 200;
    font-size: 1.75rem;
    position:absolute;
    left: 16.5rem;
    top: 5.65rem;
    border: solid $bg-clr;
    border-width: 3px 10px;
}

.form-container-left {
    grid-area: 1/1/1/1;
    background-color: $bg-clr;
}
.form-container-right {
    grid-area: 1/2/1/2;
    background-color: $bg-clr;
}
.form-container-links {
    padding-top: 3rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    background-color: $bg-clr;
}
.formset-line {
    position:relative;
    height:4rem;
}
.form-title {
    font-family: "CiscoSans";
    font-weight: 200;
    font-size: 1.2rem;
    color: $primary-clr;
}
.formset-cont{
    font-family: "CiscoSans";
    font-weight: 200;
}
// styling input fields
.form {
    position: relative;
    width: 100%;

    &_group {
        position:relative;
        height:4rem;
    }
    &_set {
        position:relative;
        height:4rem;
        display: inline-block;
    }
    &_input {
        position:absolute;
        top: 0;
        left: 0;
        height: 1rem;
        width: 50%;
        border: 1px solid $primary-text-clr;
        border-radius: 0.2rem;
        font-family: "CiscoSans";
        font-size: 1rem;
        color: $primary-text-clr;
        outline: none;
        padding: 0.5rem;
        background: none;

        &:hover {
            border-color: $primary-clr;
        }
        &:focus {
            border-color: $primary-hover-clr;
            border-width: 2px;
        }
        &_label {
            position: absolute;
            left: 0.58rem;
            top: 0.48rem;
            background-color: $bg-clr;
            color: $primary-text-clr;
            border: solid $bg-clr;
            border-width: 0px 3px;
            cursor: text;
            transition: top 200ms ease-in, 
                        left 200ms ease-in,
                        font-size 200ms ease-in,
                        font-weight 200ms ease-in;
    
        }
        &_side_label {
            position: absolute;
            left: -1.4rem;
            top: 0.48rem;
            background-color: $bg-clr;
            color: $primary-text-clr;
            border: solid $bg-clr;
            border-width: 0px 3px;
            cursor: text;
        }
    }
    &_choice {
        position:absolute;
        top: 0;
        left: 0;
        height: 2rem;
        width: 50%;
        border: 1px solid $primary-text-clr;
        border-radius: 0.2rem;
        font-family: "CiscoSans";
        font-size: 1rem;
        color: $primary-text-clr;
        outline: none;
        padding: 0.5rem 0.5rem 0.2rem;
        background: none;
        &:hover {
            border-color: $primary-clr;
        }
        &:focus {
            border-color: $primary-hover-clr;
            border-width: 2px;
        }
        &_label {
            position: absolute;
            font-weight: 200;
            top: -0.45rem;
            font-size: 0.8rem;
            left: 0.5rem;
            background-color: $bg-clr;
            color: $primary-text-clr;
            border: solid $bg-clr;
            border-width: 0px 3px;
            cursor: text;
        }
    }

    &_button {
        display: block;
        padding: 0.75rem 2rem;
        background-color: $primary-clr;
        font-family: "CiscoSans";
        font-size: 1rem;
        color: $bg-clr;
        font-weight: 400;
        border-radius: 0.5rem;
        outline:none;
        border: none;
        cursor: pointer;
        transition: background-color 200ms ease-in;

        &:hover {
            background-color: $primary-hover-clr;
        }
    }
}

.form_input:focus ~ .form_input_label,
.form_input:not(:placeholder-shown).form_input:not(:focus) ~ .form_input_label{
    color: $primary-hover-clr;
    font-weight: 200;
    top: -0.45rem;
    font-size: 0.8rem;
    left: 0.5rem;
}

.form_input:not(:placeholder-shown).form_input:not(:focus) ~ .form_input_label {
    color: $primary-text-clr;
    top: -0.45rem;
    font-size: 0.8rem;
    left: 0.5rem;
}

.form_choice:hover ~ .form_choice_label {
    color: $primary-clr;
}
.form_choice:focus ~ .form_choice_label {
    color: $primary-hover-clr;
}