{% extends "base.html" %}

{% block form_content %}
    <div class="form-container-title1"><h3 class="form-title"> Credentials </h3></div>
    <div class="form-container-cred-left">
        <div class="form_group">
            {{form.username}}
            <label for="username" class="form_input_label"> Username </label>
        </div>
        <div class="form_group">
            {{form.password}}
            <label for="password" class="form_input_label"> Password </label>
        </div>
        <div class="form_group">
            {{form.enablepassword}}
            <label for="enablepassword" class="form_input_label"> Enable Password </label>
        </div>
        <div class="form_group" style="height: 3rem;">
            <input type="checkbox" id="enable2password" name="checkbox" value="enable2password">
        <label for="enable2password">Use separate credentials</label>
        </div>       
    </div>
    <div class="form-container-cred-right">
        <div id="second_cred" class="hidden">
            <div class="form_group">
                {{form.username2}}
            <label for="username2"class="form_input_label"> Username </label>
            </div>
            <div class="form_group">
                {{form.password2}}
                <label for="password2" class="form_input_label"> Password </label>
            </div>
            <div class="form_group">
                {{form.enablepassword2}}
                <label for="enablepassword2" class="form_input_label"> Enable Password </label>
            </div>
        </div>
    </div>
    <div class="form-container-title2"> <h3 class="form-title">Devices</h3></div>
    <div class="form-container-device-left">
        <h3 class="form-title" style="margin-top: 0.5rem;"> Switch 1</h3>
            <div class="form_group">
                {{form.hostname1}}
                <label for="hostname1" class="form_input_label"> Hostname </label>
            </div>
            <div class="form_group">
                {{form.number1}}
                <label for="number1" class="form_choice_label"> Switch Number </label>
            </div>
            <div class="form_group">
                {{form.priority1}}
                <label for="priority1" class="form_choice_label"> Switch Priority </label>
            </div>
            <div class="form_group">
                {{form.ipaddress1}}
                <label for="ipaddress1" class="form_input_label"> IP Address </label>
            </div>
            <div class="form_group">
                {{form.port1}}
                <label for="port1" class="form_input_label"> Port Number </label>
            </div>
            <div class="form_group">
                {{form.protocol1}}
                <label for="protocol1" class="form_choice_label"> Protocol </label>
            </div>
        </div>
    <div class="form-container-device-right">
        <h3 class="form-title" style="margin-top: 0.5rem;"> Switch 2</h3>
            <div class="form_group">
                {{form.hostname2}}
                <label for="hostname2" class="form_input_label"> Hostname </label>
            </div>
            <div class="form_group">
                {{form.number2}}
                <label for="number2" class="form_choice_label"> Switch Number </label>
            </div>
            <div class="form_group">
                {{form.priority2}}
                <label for="priority2" class="form_choice_label"> Switch Priority </label>
            </div>
            <div class="form_group">
                {{form.ipaddress2}}
                <label for="ipaddress2" class="form_input_label"> IP Address </label>
            </div>
            <div class="form_group">
                {{form.port2}}
                <label for="port2" class="form_input_label"> Port Number </label>
            </div>
            <div class="form_group">
                {{form.protocol2}}
                <label for="protocol2" class="form_choice_label"> Protocol </label>
            </div>
    </div>
    <div class="form-container-title3"><h3 class="form-title" style="margin-top: 0.5rem;"> Links </h3></div>
    <div class="form-container-links">
        <div id="formset-list">
        {{formset.management_form}}
        {% for form in formset %}
            <div class="formset-cont">
                    {{form}} 
            </div>
        {% endfor %}
        </div>
        <div id="empty-form" class="no-display"> 
            <div class="formset-line">
                <div class="form_set" style="width:5rem;">
                    {{formset.empty_form.linktype}}
                    <label for="linktype" class="form_choice_label"> Link Type </label>
                </div>            
                <div class="form_set" style="width:15rem;">
                    {{formset.empty_form.interfacechoice}}
                    <label for="interfacechoice" class="form_choice_label"> Interface </label>
                </div>
                <div class="form_set" style="width:10rem;">
                    {{formset.empty_form.interface1}}
                    <label for="interface1" class="form_input_side_label"> 1/ </label>
                </div>
                <div class="form_set" style="width:10rem;">
                    {{formset.empty_form.interface2}}
                    <label for="interface2" class="form_input_side_label"> 2/ </label>
                </div>
            </div>    
        </div>
        <button class="form_button" type="button" id="btn">add link</button>
        <button class="form_button" type="button" id="delbtn" style="margin-left:3%">delete link</button>
        <input class="form_button" type="submit" value="save" style="margin-left:40rem;">
        </div>
{% endblock %}
{% block scripts %}
    <script>
        const btn = document.getElementById('btn')
        const delbtn = document.getElementById('delbtn')
        btn.addEventListener('click', add_form)
        delbtn.addEventListener('click', delete_form)
        
        function add_form(event) {
            const totalnewforms = document.getElementById('id_form-TOTAL_FORMS')
            const currentforms = document.getElementsByClassName('formset-cont')
            const currentformcount = currentforms.length
            const copytarget = document.getElementById('formset-list')
            const emptyformel = document.getElementById('empty-form').cloneNode(true)
            emptyformel.setAttribute('class', 'formset-cont')
            emptyformel.setAttribute('id', `form-${currentformcount}`)
            totalnewforms.setAttribute('value', currentformcount + 1)
            const regex = new RegExp('__prefix__', 'g')
            emptyformel.innerHTML = emptyformel.innerHTML.replace(regex, currentformcount)
            copytarget.append(emptyformel)
        }
        function delete_form(event) {
            const copytarget = document.getElementById('formset-list')
            copytarget.removeChild(copytarget.lastElementChild)
        }
    </script>
    <script>
        const check = document.querySelector("input[name=checkbox]")
        check.addEventListener('change', unhide_second_cred)
        function unhide_second_cred(event) {
            if (this.checked) {
                const second_cred = document.getElementById('second_cred')
                second_cred.setAttribute('class', " ")
            }
            else {
                second_cred.setAttribute('class', "no-display")
            }
        }
    </script>
{% endblock %}
